body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  column-count: 3;
  column-gap: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .container {
    column-count: 1;
  }
}
